body {
  background-color: rgb(247, 242, 233);
  line-height: 1.6;
}


h1,h2,p {
  font-family: 'Instrument Serif', serif;
}

h1 {
  font-size: 70px;
  color: black;
}

h1 {
  font-size: 50px;
  color: black;
}

i {
  font-size: 30px;
  color: black;
}

a {
  text-decoration: none;
  color: rgb(126, 41, 182);
  transition: 1s ease;
}

a:hover {
  color: rgb(91, 8, 91);
  letter-spacing: 10px;
  transition: 1s ease;
}

p {
    font-size: 23px;
    color: black;
  }

  img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
  }

  .img-circle {
    border-radius: 50%;
  }

  .text-center {
    text-align: center;
  }

  .card-white {
    background: white;
    padding: 30px;
    border: 1px solid lightgrey;
  }
